In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [4]:
sa_DA = pd.read_csv("sa_DA.csv")
sa_DS = pd.read_csv("sa_DS.csv")
sa_DE = pd.read_csv("sa_DE.csv")

us_DA = pd.read_csv("us_DA.csv")
us_DS = pd.read_csv("us_DS.csv")
us_DE = pd.read_csv("us_DE.csv")

uk_DA = pd.read_csv("uk_DA.csv")
uk_DS = pd.read_csv("uk_DS.csv")
uk_DE = pd.read_csv("uk_DE.csv")

au_DA = pd.read_csv("au_DA.csv")
au_DS = pd.read_csv("au_DS.csv")
au_DE = pd.read_csv("au_DE.csv")

In [9]:
us_DA.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Analyst,-1,Big Huge Games is looking for a qualified Data...,4.9,Big Huge Games\n4.9,"Timonium, MD",-1,51 to 200 Employees,2013,Subsidiary or Business Segment,Video Games,Media,Unknown / Non-Applicable,-1
1,Data Analyst,-1,DEPARTMENT: Analytics\nPOSITION SUMMARY\nNewDa...,3.9,NewDay USA\n3.9,"Fulton, MD",-1,501 to 1000 Employees,1999,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1
2,Marketing Data Analyst,-1,Overview:\n\nThe Marketing Data Analyst is res...,4.4,C Spire\n4.4,"Ridgeland, MS",-1,1001 to 5000 Employees,1988,Company - Private,Telecommunications Services,Telecommunications,Unknown / Non-Applicable,-1
3,Senior Data Analyst,-1,Do you want to innovate customer experiences a...,3.4,GEICO\n3.4,"Chevy Chase, MD",-1,10000+ Employees,1936,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD),-1
4,Data Analyst,-1,"Rational is growing, and we need amazing talen...",2.7,Rational\n2.7,"Redmond, WA",-1,201 to 500 Employees,2009,Company - Public,Consulting,Business Services,Unknown / Non-Applicable,-1

In [10]:
######### TO DO #########
# add columns for things I'd find interesting (have to extract from job descr) like - hard skills technologies (R/Python), exp, soft skills, 
# remove new line chars from job descriptions
#
#
#

In [11]:
sa_DA["Job Description"][0]

'EY’s newly established Africa Data Delivery Centre will rapidly grow into a core service for our Africa Assurance business, providing centralized support for our mainstream digital analytical solutions Be part of this ground-breaking centre of excellence that will change the way that audit teams engage with clients around meaningful analysis and insights created by our digital solutions.\n\nThe opportunity\n\nWe are currently seeking the right candidate for an excellent career opportunity. As part of Data Delivery Centre, you will help our clients navigate the complex world of modern data science and analytics. You’ll be working closely with data delivery centre specialists, clients and/or audit managers to extract data and perform extraction transformation and loading, as well as initial analytical analysis and exception identification. In addition, you will experience high growth, high visibility area with plenty of opportunities to enhance your skillset and build your career.\nYour key responsibilities\n\nWith a wide variety of clients across systems, sectors and geographies, you’ll be using a combination of manual processes, automated scripts and macros to extract transform and load data into the core digital analytical tools to agreed SLA targets. And participate in the Data Delivery centre learning and sharing initiatives to leverage from the EMEIA and Global data delivery and digital solution networks. In addition, you’ll reactively and proactively support projects related to driving demand from the assurance business and improving service delivery from the Data Delivery Centre.\n\nSkills and attributes for success\nAdept at queries, report writing and presenting findings\nDemonstrate strong project management and team management skills\nDemonstrate good problem solving and interpersonal skills\nDeadline oriented and able to prioritise own work\nCustomer centric solution mindset\nAbility to work in an ambiguous environment\nTo qualify for the role, you must have\nPreferred degree in Computer Science, Mathematics, Economics, Information Management or Statistics or equivalent\nMinimum 2-3 years working experience as a data analyst or business data analyst\nStrong understanding of IT environments, IT security, networking and server architecture\nStrong knowledge of and experience with reporting packages (Business Objects, etc.), databases (SQL. etc.), programming (XML, Javascript, or ETL frameworks)\nStrong working experience in one or more ERP’s e.g. SAP, Oracle, MS Navision, SAGE, AccPac etc. and associated ETL tools\nWorking experience in SpotFire, PowerBi, Python and Alteryx\nIdeally, you’ll also have\nknowledge of auditing standards and experience as an auditor\nStrong analytical skills with the ability to collect, organize, analyse, and disseminate significant amounts of information with attention to detail and accuracy\nExperience in external audit or in a professional services firm will be a positive\nWhat we look for\n\nWe’re interested in highly motivated people who demonstrate a truly global mind-set and are inspired by the chance to really push boundaries and make the absolute most of every opportunity. An effective communicator, you’ll be a confident team player equipped with strong people management skills and a genuine passion to make things happen in a dynamic organization.\n\nWhat working at EY offers\n\nWe offer a competitive compensation package where you’ll be rewarded based on your performance and recognized for the value you bring to our business.\n\nPlus, we offer:\nThe opportunity to manage a portfolio of talent within a designated service line\nA collaborative environment where everyone works together to create a better working world\nExcellent training and development prospects, both through established programs and on-the-job training\nAn excellent team of senior colleagues dedicated to managing and varying your workload\nAbout EY\n\nAs a global leader in assurance, tax, transaction and advisory services, we hire and develop the most passionate people in their field to help build a better working world. This starts with a culture that believes in giving you the training, opportunities and creative freedom to make things better. So that whenever you join, however long you stay, the exceptional EY experience lasts a lifetime.\n\nIf you can confidently demonstrate that you meet the criteria above, please contact us as soon as possible.\n\nIt’s yours to build.\n\nApply now.'

In [12]:
sa_DA["Job Title"].unique()

array(['Data Analyst', 'Data Analyst (II)',
       'Junior Data Developer System Analyst', 'Junior Data Analyst',
       'Senior Data Developer System Analyst', 'Reporting & Data Analyst',
       'Data Analyst - Johannesburg, South Africa',
       'Data Analyst Programmer I for Visualisation',
       'Data Analyst (Operations & Sales)', 'Digital Data Analyst'],
      dtype=object)

In [13]:
sa_DS["Job Title"].unique()

array(['Data Scientist', 'Data Analyst', 'Data Scientist III'],
      dtype=object)

In [14]:
sa_DE["Job Title"].unique()

array(['Data Scientist', 'Data Engineer', 'Data Architect - Principal',
       'Data Engineer - EC2 Capacity Data Analytics',
       'Quality Engineer (Data) – PBB IT',
       'Cloud Support Engineer (Big Data)', 'Response Center Engineer',
       'Software Development Engineer - EC2 Placement',
       'Data Engineer - PBB IT', 'Aws Data Platform Engineer',
       'Data Engineer Azure Data Factory'], dtype=object)