In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import re

In [2]:
sa_DA = pd.read_csv("sa_DA.csv")
sa_DS = pd.read_csv("sa_DS.csv")
sa_DE = pd.read_csv("sa_DE.csv")

us_DA = pd.read_csv("us_DA.csv")
us_DS = pd.read_csv("us_DS.csv")
us_DE = pd.read_csv("us_DE.csv")

uk_DA = pd.read_csv("uk_DA.csv")
uk_DS = pd.read_csv("uk_DS.csv")
uk_DE = pd.read_csv("uk_DE.csv")

au_DA = pd.read_csv("au_DA.csv")
au_DS = pd.read_csv("au_DS.csv")
au_DE = pd.read_csv("au_DE.csv")

In [3]:
whos

Variable   Type         Data/Info
---------------------------------
au_DA      DataFrame                             <...>n[1000 rows x 14 columns]
au_DE      DataFrame                             <...>n[1000 rows x 14 columns]
au_DS      DataFrame                             <...>\n[450 rows x 14 columns]
msno       module       <module 'missingno' from <...>\missingno\\__init__.py'>
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
plt        module       <module 'matplotlib.pyplo<...>\\matplotlib\\pyplot.py'>
re         module       <module 're' from 'C:\\Us<...>\\anaconda3\\lib\\re.py'>
sa_DA      DataFrame                             <...>n\n[93 rows x 14 columns]
sa_DE      DataFrame                             <...>\n[810 rows x 14 columns]
sa_DS      DataFrame                  Job Title  <...>\n[270 rows x 14 columns]
sns        module       <module 'seaborn' from 'C<...>s\\seaborn\\__init__.py'>
uk_DA      DataFrame                          Job<...>\n[780 rows x 14 columns]
uk_DE      DataFrame                             <...>n[1000 rows x 14 columns]
uk_DS      DataFrame                             <...>n[1000 rows x 14 columns]
us_DA      DataFrame                      Job Tit<...>n[1000 rows x 14 columns]
us_DE      DataFrame                             <...>n[1000 rows x 14 columns]
us_DS      DataFrame                             <...>n[1000 rows x 14 columns]

In [ ]:
sa_DA.head()

In [ ]:
# drop non data in jon title from DE job dfs
#sa_DA[sa_DA.duplicated(subset="Job Description", keep="first")
sa_DA = sa_DA.drop_duplicates(subset="Job Description")

In [8]:
sa_DS.shape

(270, 14)

In [21]:
sa_DS.drop_duplicates(subset="Job Description").shape

(30, 14)

In [22]:
len(set(us_DS["Job Description"]))

30

In [23]:
sa_DE.shape

(810, 14)

In [17]:
au_DE.drop_duplicates().shape

(30, 14)

In [18]:
sa_DS.head(40)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,-1,The world is changing.\n\nWe all want somethin...,4.6,Luno\n4.6,Cape Town,-1,201 to 500 Employees,2013,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
1,Data Analyst,-1,EY’s newly established Africa Data Delivery Ce...,3.8,EY\n3.8,Johannesburg,-1,10000+ Employees,1989,Company - Private,Accounting,Accounting & Legal,$10+ billion (USD),-1
2,Data Scientist,-1,Prodigy Finance is a platform that delivers so...,4.5,Prodigy Finance\n4.5,Cape Town,-1,51 to 200 Employees,2007,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1
3,Data Scientist,-1,We are looking for a highly talented Data Scie...,3.3,Q2eBanking\n3.3,Remote,-1,1001 to 5000 Employees,2004,Company - Public,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
4,Data Scientist,-1,"Description\n\nPosition at GVW Group, LLC\n\nD...",-1.0,GVW,Durbanville,-1,Unknown,-1,Unknown,-1,-1,Less than $1 million (USD),-1
5,Data Scientist,-1,The Data Scientist is primarily responsible fo...,3.8,Shoprite Group\n3.8,Cape Town,-1,10000+ Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
6,Data Scientist,-1,Additional Information\nJOB TITLE:\n\nData Sci...,4.1,C Ahead Info Technologies India\n4.1,Johannesburg,-1,201 to 500 Employees,2004,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1
7,Data Scientist,-1,Description:\n\nThe role requires an individua...,3.0,Communicate Recruitment: IT 2\n3.0,Johannesburg,-1,51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
8,Data Scientist,-1,Overview\nJob ID: 51461\nJob Sector: Banking\n...,4.1,Standard Bank\n4.1,Johannesburg,-1,201 to 500 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
9,Data Scientist,-1,CyberPro Consulting is a Microsoft Gold Partne...,5.0,Cyber Pro Consulting\n5.0,Johannesburg,-1,51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
10,Data Scientist,-1,Description\nDimension Data continuously seeks...,3.8,Dimension Data\n3.8,Cape Town,-1,Unknown,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
11,Data Scientist,-1,"Data Scientist\n\nTechnology Durbanville, Sout...",3.8,"GVW Group, LLC\n3.8",Durbanville,-1,201 to 500 Employees,1993,Company - Private,Transportation Equipment Manufacturing,Manufacturing,$100 to $500 million (USD),-1
12,Data Scientist,-1,Nedbank Recruiting\nRequisition Number and Req...,3.9,Nedbank\n3.9,Johannesburg,-1,10000+ Employees,-1,Company - Private,-1,-1,$10+ billion (USD),-1
13,Data Scientist,-1,Data Scientist needed\n\n12 months programming...,3.5,Information Dynamics\n3.5,Johannesburg,-1,201 to 500 Employees,1995,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
14,Data Scientist,-1,ENVIRONMENT:\n\nJoin an interdisciplinary data...,-1.0,Datafin IT Recruitment,Cape Town,-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
15,Data Scientist,-1,JOB TITLE: Data Scientist\n\nDEPARTMENT: Data ...,3.6,Gilbarco\n3.6,South Africa,-1,1001 to 5000 Employees,1870,Subsidiary or Business Segment,Industrial Manufacturing,Manufacturing,$1 to $2 billion (USD),-1
16,Data Scientist,-1,Data Scientist (Port Elizabeth)\n\n\n2020/10/2...,3.8,Aspen Pharmacare\n3.8,Port Elizabeth,-1,5001 to 10000 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
17,Data Scientist,-1,Join the people helping people.\nFor people dr...,3.8,PSCU\n3.8,Remote,-1,1001 to 5000 Employees,1977,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
18,Data Scientist,-1,Our client based in East London is urgently lo...,-1.0,EQplus,East London,-1,1 to 50 Employees,-1,Company - Public,-1,-1,Less than $1 million (USD),-1
19,Data Scientist,-1,Overview\n\nConstantly review and analyse supp...,3.3,Aspen Pharma Group\n3.3,Port Elizabeth,-1,501 to 1000 Employees,2001,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$500 million to $1 billion (USD),-1
20,Data Scientist,-1,PURPOSE OF THE JOB *\nWe are looking for a Dat...,3.9,PEPKOR\n3.9,Parow,-1,201 to 500 Employees,-1,Company - Private,Computer Hardware & Software,Information Technology,Less than $1 million (USD),-1
21,Data Scientist,-1,Purpose of the Job\nThe Data Scientist is prim...,3.0,Shoprite Group\n3.0,Brackenfell,-1,201 to 500 Employees,-1,Company - Private,Vehicle Dealers,Retail,$25 to $50 million (USD),-1
22,Data Scientist,-1,Are you Data Scientist seeking new career oppo...,-1.0,Tumaini Consulting,Cape Town,-1,-1,-1,-1,-1,-1,-1,-1
23,Data Scientist,-1,Job Description:\n\nResponsibilities\n\nAnalyz...,-1.0,Network Recruitment (South Africa),Cape Town,-1,-1,-1,-1,-1,-1,-1,-1
24,Data Scientist,-1,Our client has various opportunities available...,-1.0,RecruiTech,Johannesburg,-1,Unknown,-1,Unknown,-1,-1,Less than $1 million (USD),-1
25,Data Scientist,-1,This well known company based in Rivonia is lo...,-1.0,PRR Recruitment Services,Johannesburg,-1,Unknown,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
26,Data Scientist,-1,Numerous Data Scientist opportunities are avai...,-1.0,Carlysle,Johannesburg,-1,Unknown,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
27,Data Scientist,-1,We are looking for Data Scientists - both with...,-1.0,Datonomy Solutions,Brackenfell,-1,-1,-1,-1,-1,-1,-1,-1
28,Data Analyst,-1,Purpose:\n\nThere are jobs and there are place...,5.0,Truevo Payments\n5.0,Cape Town,-1,51 to 200 Employees,2013,Company - Private,Financial Transaction Processing,Finance,Unknown / Non-Applicable,-1
29,Data Scientist III,-1,The Data Scientist III position requires a sen...,3.6,Vistex Africa\n3.6,Cape Town,-1,1001 to 5000 Employees,1999,Company - Private,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),-1
30,Data Scientist,-1,The world is changing.\n\nWe all want somethin...,4.6,Luno\n4.6,Cape Town,-1,201 to 500 Employees,2013,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
31,Data Analyst,-1,EY’s newly established Africa Data Delivery Ce...,3.8,EY\n3.8,Johannesburg,-1,10000+ Employees,1989,Company - Private,Accounting,Accounting & Legal,$10+ billion (USD),-1
32,Data Scientist,-1,Prodigy Finance is a platform that delivers so...,4.5,Prodigy Finance\n4.5,Cape Town,-1,51 to 200 Employees,2007,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1
33,Data Scientist,-1,We are looking for a highly talented Data Scie...,3.3,Q2eBanking\n3.3,Remote,-1,1001 to 5000 Employees,2004,Company - Public,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
34,Data Scientist,-1,"Description\n\nPosition at GVW Group, LLC\n\nD...",-1.0,GVW,Durbanville,-1,Unknown,-1,Unknown,-1,-1,Less than $1 million (USD),-1
35,Data Scientist,-1,The Data Scientist is primarily responsible fo...,3.8,Shoprite Group\n3.8,Cape Town,-1,10000+ Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
36,Data Scientist,-1,Additional Information\nJOB TITLE:\n\nData Sci...,4.1,C Ahead Info Technologies India\n4.1,Johannesburg,-1,201 to 500 Employees,2004,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1
37,Data Scientist,-1,Description:\n\nThe role requires an individua...,3.0,Communicate Recruitment: IT 2\n3.0,Johannesburg,-1,51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
38,Data Scientist,-1,Overview\nJob ID: 51461\nJob Sector: Banking\n...,4.1,Standard Bank\n4.1,Johannesburg,-1,201 to 500 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
39,Data Scientist,-1,CyberPro Consulting is a Microsoft Gold Partne...,5.0,Cyber Pro Consulting\n5.0,Johannesburg,-1,51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1

In [ ]:
# check and drop duplicate jobs by jd

In [ ]:
whos

In [19]:
# remove new line chars from job descriptions, company name
sa_DA["Job Description"] = sa_DA["Job Description"].str.replace("\n", " ")
sa_DA["Company Name"] = sa_DA["Company Name"].str.replace("\n", " ")
sa_DS["Job Description"] = sa_DS["Job Description"].str.replace("\n", " ")
sa_DS["Company Name"] = sa_DS["Company Name"].str.replace("\n", " ")
sa_DE["Job Description"] = sa_DE["Job Description"].str.replace("\n", " ")
sa_DE["Company Name"] = sa_DE["Company Name"].str.replace("\n", " ")

us_DA["Job Description"] = us_DA["Job Description"].str.replace("\n", " ")
us_DA["Company Name"] = us_DA["Company Name"].str.replace("\n", " ")
us_DS["Job Description"] = us_DS["Job Description"].str.replace("\n", " ")
us_DS["Company Name"] = us_DS["Company Name"].str.replace("\n", " ")
us_DE["Job Description"] = us_DE["Job Description"].str.replace("\n", " ")
us_DE["Company Name"] = us_DE["Company Name"].str.replace("\n", " ")

uk_DA["Job Description"] = uk_DA["Job Description"].str.replace("\n", " ")
uk_DA["Company Name"] = uk_DA["Company Name"].str.replace("\n", " ")
uk_DS["Job Description"] = uk_DS["Job Description"].str.replace("\n", " ")
uk_DS["Company Name"] = uk_DS["Company Name"].str.replace("\n", " ")
uk_DE["Job Description"] = uk_DE["Job Description"].str.replace("\n", " ")
uk_DE["Company Name"] = uk_DE["Company Name"].str.replace("\n", " ")

au_DA["Job Description"] = au_DA["Job Description"].str.replace("\n", " ")
au_DA["Company Name"] = au_DA["Company Name"].str.replace("\n", " ")
au_DS["Job Description"] = au_DS["Job Description"].str.replace("\n", " ")
au_DS["Company Name"] = au_DS["Company Name"].str.replace("\n", " ")
au_DE["Job Description"] = au_DE["Job Description"].str.replace("\n", " ")
au_DE["Company Name"] = au_DE["Company Name"].str.replace("\n", " ")

In [ ]:
# make rating float
# changed founded date dtype

In [ ]:
techs = ["Python", "R", "Julia", "Java", "C", "Scala", "Bash", "PowerBi", "Tableau", "Excel", "VBA", "Macros","Alteryx", 
         "Spotfire", "Qlik", "Looker", "SAS", "ERP", "SAP", "MS Navision", "SAGE", "AccPac", "SQL", "Sql", "NoSql", "NoSQL", 
         "MongoDB", "Postgres", "PostgreSQL", "mySQL", "XML", "HTML", "CSS", "Javascript", "Hadoop", "Spark", "PySpark", 
         "SparkR", "Kafka", "ETL", "Oracle", "Storm", "AWS", "Cassandra", "Azkaban", "Airflow", "Luigi", "MATLAB", 
         "Snowflake", "BigQuery", "Azure", "GCP", "Perl", "Presto", "HBase", "Hive", "Druid", "Docker", "TensorFlow"]
pattern = "|".join(r"\b{}\b".format(x) for x in techs)

In [ ]:
sa_DA["Technologies"] = sa_DA["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
sa_DS["Technologies"] = sa_DS["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
sa_DE["Technologies"] = sa_DE["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")

us_DA["Technologies"] = us_DA["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
us_DS["Technologies"] = us_DS["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
us_DE["Technologies"] = us_DE["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")

uk_DA["Technologies"] = uk_DA["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
uk_DS["Technologies"] = uk_DS["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
uk_DE["Technologies"] = uk_DE["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")

au_DA["Technologies"] = au_DA["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
au_DS["Technologies"] = au_DS["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")
au_DE["Technologies"] = au_DE["Job Description"].str.findall(pattern, flags=re.I).str.join(", ")

In [ ]:
# sa_DA["Techs"] = sa_DA["Job Description"].str.extract(r" (Python) ").fillna('Not found') 
# pattern = "|".join(r"\b{}\b".format(x) for x in techs)

# find 'degree' in words then go +- 40 words

In [ ]:
words_test = sa_DA["Job Description"][0].split(" ")

In [ ]:
words_test

In [ ]:
if "Degree" in words_test:
    found_at = words_test.index("Degree")
elif "degree" in words_test:
    found_at = words_test.index("degree")
found_at

In [ ]:
sa_DA["Degree Type"] =

In [ ]:
# soft skills usingn above method

In [ ]:
# responsibility skills usingn above method

NMF (on soft skills and responsiilities abvvo?) (move to EDA??):

In [ ]:
from sklearn.decomposition import NMF
model = NMF(n_components=2)

## Part A: By Job Title

### i. Data Analyst

In [ ]:
# STEPS:
# 1) head
# 2) histograms: job title, technologies, ratings heatmap? founded dates, type of company ownership, industry, sector, 
# company size, revenue, per region count for da,de,ds per country, 
# 3) *NMF job descr*# perform NNMF to find common phrases for jb descrip? (1 - general NMF for jd, 2) then for 
# skills/responsib etc.(subset jd first), 3) common degree types - extract string and NMF
# 
# 
# 
# 
# 
# 
#

### ii. Data Scientist

### iii. Data Engineer

### iv. Combined

## Part B: By Country

### i. South Africa

In [ ]:
# STEPS:
# 1) head
# 2) histograms: job title, technologies, ratings heatmap? founded dates, type of company ownership, industry, sector, 
# company size, revenue, per region count for da,de,ds per country, 
# 3) *NMF job descr*# perform NNMF to find common phrases for jb descrip? (1 - general NMF for jd, 2) then for 
# skills/responsib etc.(subset jd first), 3) common degree types - extract string and NMF
# 
# 
# 
# 
# 
# 
#

### ii. United States

### iii. United Kingdom

### iv. Australia

### v. Combined